@import '../../../../assets/css/variables.scss';
@import '../../../../assets/css/mixins.scss';

.whatsapp-chat {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
    display: grid;
    align-items: center;
    justify-content: center;
    color: $white-color;
    border: 1px solid transparent;
    @include icon-area(54px, $success1);
    transition: all .2s ease-in;
    
    &:hover {
        background: $white-color;
        border: 1px solid $success1;
        color: $success1;
    }
    .icon {
        font-size: 34px;
    }
}