@import '../../assets/css/variables.scss';
@import '../../assets/css/mixins.scss';

.logo {
    position: absolute;
    right: $s-2;
    top: $s-2;
    img {
        width: 100px;
        height: auto;
    }
}