<div class="header-bottom" [ngClass]="{ show: windowScrolled }">
    <div class="container dis-flex">
        <div class="logo" routerLink="/">
            <!-- <img src="../../../../assets/img/MOYIN/50-1.svg" alt="">
            <img src="../../../../assets/img/MOYIN/50-2.svg" alt="">
            <img src="../../../../assets/img/MOYIN/50.svg" alt="">
            <img src="../../../../assets/img/MOYIN/75-1.svg" alt="">
            <img src="../../../../assets/img/MOYIN/75-2.svg" alt="">
            <img src="../../../../assets/img/MOYIN/75.svg" alt="">
            <img src="../../../../assets/img/MOYIN/80-1.svg" alt="">
            <img src="../../../../assets/img/MOYIN/80-2.svg" alt=""> -->
            <img src="../../../../assets/img/moheen-logo-80.svg" alt="">
        </div>
        <nav [class.show]="isHamClick">
            <ul class="nav-list dis-flex"  #menuArea>
                <li class="nav-list_item" routerLink="/" (click)="isHamClick = false">
                    Home
                </li>
                <li class="nav-list_item" (click)="navigateToAbout()">
                    About
                </li>
                <li class="nav-list_item" routerLink="/products" (click)="isHamClick = false">
                    Products
                </li>
                <li class="nav-list_item" (click)="navigateToContact()">
                   Contact
                </li>
            </ul>
        </nav>
        <div class="header-bottom_right">
            <ul class="dis-flex">
                <li title="Search"><i class='bx bx-search-alt-2'></i></li>
                <li title="Cart" class="cart" routerLink="/cart">
                    <i class='bx bx-shopping-bag'></i>
                    <span class="counter">{{products?.length}}</span>
                </li>
                <li class="hamburger" (click)="toggleMenu()" #menuBtn>
                    <i class='bx bx-menu icon' *ngIf="isHamClick === false"></i>
                    <i class='bx bx-x icon' *ngIf="isHamClick === true"></i>
                </li>
            </ul>
        </div>
    </div>
</div>