//-- Colors starts --//

$primary1: #010066;
$primary2: #323385;
// $primary2: rgba(0, 15, 45, 0.8);
// $primary3: rgba(0, 15, 45, 0.5);
// $primary4: rgba(0, 15, 45, 0.4);
$secondary1: #ff6301;
$secondary2: #ff8531;
$black1: #0c0c0c;
$black2: #141414;
$black3: #333333;
$white-color: #ffffff;
$success1: #039855;
$error1: #e92c2c; 
$warning1: #FACC15;
$brown: #54251c;


$grey1: #8c8c8c;
$grey2: #a4a4a4;
$grey3: #acacac;

$inner-border: #CFCFD4;
$divider-color1: #ECEDF1;
$divider-color2: #AFB3B8;
//-- Colors ends --//

//-- Box shadow starts --//
$box-shadow1: 0px 8px 20px rgba(0, 0, 0, 0.08);
$box-shadow2: 4px 4px 40px rgba(112, 144, 176, 0.1);
//-- Box shadow ends --//

//-- Border starts --//
$border-radius1: 5px;
$border-radius2: 8px;
$border-radius3: 10px;
$border-radius4: 20px;
$border-radius5: 25px;
//-- Border starts --//

//-- Spacing starts --//
$s-1: 0.5rem;
$s-2: 1rem;
$s-3: 1.5rem;
$s-4: 2rem;
$s-5: 2.5rem;
$s-6: 3rem;
//-- Spacing ends --//