<section class="about sect">
    <div class="container mc_flex_content">
        <div class="about_details mc_flex_details">
            <h2 class="mc_flex_details_title">About Us</h2>
            <div class="mc_flex_details_parags">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, unde nesciunt iure quam rerum maiores mollitia quis non libero distinctio sint delectus reiciendis ab quidem iste error necessitatibus laborum fugiat?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo incidunt amet qui molestiae doloribus cumque quod aperiam, eos beatae ut eaque veritatis cum corporis, eius ullam soluta modi error. Nihil!</p>
            </div>
        </div>
        <div class="about_image mc_flex_img">
            <img src="../../../../assets/img/shahram-anhari-C6nazHzurKY-unsplash.jpg" alt="image">
        </div>
    </div>
</section>