@import '../../../../assets/css/variables.scss';
@import '../../../../assets/css/mixins.scss';

/* go-top */
.go-top {
  position: fixed;
  bottom: 6rem;
  right: 1rem;
  z-index: 100;
  background-color: $primary1;
  box-shadow: $box-shadow1;
  @include icon-area(44px, $primary2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  &.show {
    opacity: 1;
    visibility: visible;
  }
  & .icon {
    font-size: 26px;
    color: $white-color;
    transition: all 0.2s ease;
  }
  &:hover .icon {
    transform: translateY(-10px);
  }
}